argparse==1.2.1
beautifulsoup4==4.3.2
boto==2.38.0
envoy==0.0.3
importlib==1.0.3
jira==0.25
lockfile==0.10.2
oauthlib==0.7.2
python-daemon==1.6
requests==2.3.0
requests-oauthlib==0.4.2
six==1.8.0
tlslite==0.4.8
wsgiref==0.1.2
